* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0 auto;
    display: block;
}

body {
    background-color: black;
}
#background {
    background-image: url("../images/wallpaper.jpg");
    position: absolute; 
    top: 0px;
    padding-bottom: 5%;
    background-size: 1000px;
    width: 100%;
    z-index: -1;
    min-height: 90%;
}

#grid {
    margin-top: 50px;
    background: white;
    border-radius: 10px;
    padding: 10px 10px 70px 10px;
    z-index: 1;
}

#ui {
    position: relative;
    background: black;
    border-radius: 10px;
    width: 98%;
    top: 6px;
    height: 50px;
    margin-bottom: 10px;
}

.tiles {
    background-size: 10px;
    display: block;
    float: left;
    border-radius: 10px;
    transition: 0.2s;
}

.tiles:hover {
    -webkit-transform:scale(0.9);
    -moz-transform:scale(0.9);
    -ms-transform:scale(0.9);
    -o-transform:scale(0.9);
    transform:scale(0.9);
}

.ingameUI {
    float: left;
    color: white;
    width: 33%;
    padding: 15px 0;
    text-align: center;
    position: relative;
    margin: auto;
}

.UI {
    border-radius: 10px;
    background-image: url("../images/popup.jpg");
    background-size: 1000px;
    border: 5px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 300px;
    width: 50%;
    transform: translate(-50%, -50%);
    padding: 100px;
}

.UI button {
    background: #ff8c00;
    display: block;
    border: #ff8c00 solid 2px;
    float: left;
    width: 100%;
    padding: 20px 0;
    transition: 0.2s;
    cursor: pointer;
}
.UI button:hover {
    background: white;
}

.UI_textarea {
    padding: 20px 0px;
    text-align: center;
    margin: 10px 0px;
    background: white;
}

#winloseScreen p {
    font-size: 50px;
    padding: 20px 0px;
    text-align: center;
    margin: 10px 0px;
    color: white;
}

#icon {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 200;
}

#startMenu input {
    display: block;
    float: left;
    width: 100%;
    padding: 10px 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#startMenu p {
    font-size: 17px;
    text-align: left;
    color: white;
}

#startMenu #welcome {
    font-size: 50px;
    padding: 20px 0px;
    text-align: center;
    margin: 10px 0px;
}

.hide {
    display: none;
}